body{
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "Roboto", sans-serif;
}

.main-container{
    border-radius: 15px;
    margin-top: 10vh;
    padding: 50px;
    display: inline-block;
    background-color: whitesmoke;
    height: 400px;
}
.form-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.name-content, .email-content, .password-content{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}
.name-content input, .email-content input, .password-content input{
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none; 
    
    
}
.button-content button{
    background-color: black;
    color: white;
    padding: 8px 10px;
    width: 50%;
    border-radius: 5px;
    cursor: pointer;
}
.error-msg{
    color: red;
    font-size: medium;
}
.input-pass{
    border: solid rgb(25, 226, 25) 2px;
    
}
.table-btn__button.disable-btn{
    background: gray;
    cursor: not-allowed;
}
.table-btn__button.enable-btn{
    background-color:#3b82f6;
    cursor: pointer;
}